* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  list-style: none;
}

.game {
  border: 2px solid purple;
  margin: 8px;
}

.console {
  border: 2px solid red;
  background-color: black;
  color: white;
  padding: 8px;
  overflow-y: scroll;
  height: 96px;
  display: flex;
  flex-direction: column-reverse;
}
.console ul li {
  padding-top: 4px;
}

.tabs {
  border: 2px solid black;
}
.tabs ul li {
  border: 2px solid black;
  display: inline-block;
  padding: 4px 8px;
}

.window {
  margin-top: 16px;
  border: 2px solid yellow;
}